@import url("https://fonts.googleapis.com/css?family=Cinzel");
html, body {
  height: 100%;
}

body {
  font-family: "Cinzel";
  background-image:url("http://static.tumblr.com/40e899ba4f1dc55a6cd46429ef0be0ac/f6tau7g/uefms91gf/tumblr_static_retro-rose-flowers-pattern-backgrounds-1024x768.jpg");
  margin: 0;
  padding: 0;
}

h1 { color: #563A56;
  font-weight: bolder;
  padding-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(253, 239, 228, 0.5);
  height: 100%;
}

#myname {
  font-size: 8em;
}

.buttons{
  color: #96858F;
  font-size: 5em;
  align-items: center;
  display: inline-flex;
  padding-top: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #867A70;
}

.button_styling {
  position: relative;
  padding-top: 90px;
}

.main_text {
font-size: 20px;
font-weight: bold;
}
.pic {
  border-radius: 95px;
}
